/********************* menos espec[ificos!!!!!! *********************/

body {
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  background-color: #fafafa;
  color: #59595e;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  border-bottom: 1px solid darkgray;
}

footer {
  padding: 10px;
  height: 50px;
  color: #a3adbe;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  border-top: 1px solid darkgray;
}

input,
label {
  display: block;
}

input::placeholder {
  color: lightgray;
}

h1 {
  margin-top: 10px;
}

h3 {
  font-weight: 100;
  margin-bottom: -1px;
}

/********************* classes!!!!!! *********************/

.box {
  display: flex;
}

.box1 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
  justify-content: center;
}

.one {
  flex: 1;
  width: 50%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.item {
  width: 45%;
}

.secondrow {
  width: 32%;
}

.gambs {
  width: 95%;
}

.date {
  width: 32%;
  color: #565961;
  font-family: "Source Sans Pro", sans-serif;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 230px;
  background-color: #fefbf7;
  color: orange;
  border: 1px solid orange;
  text-align: left;
  font-size: 12px;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 23.5%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: orange transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.round {
  cursor: pointer;
  border-radius: 4px;
  border: solid 1px rgb(107, 107, 107);
  height: 22px;
}

/********************* ids!!!!!! *********************/

#corpo {
  padding: 20px;
}

#principal {
  width: 600px;
  color: #59595e;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: fixed;
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 0 0 1em;
}

#infoCircle {
  font-size: 13px;
  color: #f2b05c;
  transition: 0.3s;
}

#infoCircle:hover {
  color: rgb(223, 146, 5);
  transition: 0.5s;
}

#firstrow {
  width: 97%;
}

#firstfirstrow {
  width: 90%;
}

#savechang {
  color: white;
  background-color: #d75745;
  width: 30%;
  height: 40px;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 10px;
}

#birthd {
  margin-top: 20px;
  margin-bottom: -20px;
}

#imgwarn {
  background-color: #fefbf7;
  border: 1px solid orange;
  color: orange;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 11px;
  margin-right: 20px;
  margin-left: -40px;
  width: 160px;
}

#uplpic {
  color: white;
  background-color: #565961;
  width: 70%;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  font-size: 15px;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
}

#delpic {
  color: black;
  background-color: #e6e8ed;
  width: 70%;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  font-size: 15px;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
}

#foto {
  width: 100px;
  box-align: center;
}
