table {
  width: 100%;
  border-collapse: collapse;
}
table tr td {
  width: 33%;
  text-align: center;
}

.jogo{
  border: 1px solid rgb(0, 0, 0);
  height: 100px;
}

#grad {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(46, 7, 119));
}

#container {
  background-color: rgba(255, 255, 255, 0.808);
  width: 400px;
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: fixed;
}

#title {
  font-size: 40px;
  color: rgba(6, 8, 116, 0.842);
  text-align: center;
  font-family: 'Playfair Display';
}

#grey-bar {
  background-color: rgba(117, 117, 117, 0.315);
  color: black;
  padding: 2px;
  padding-right: 20px;
  padding-bottom: 10px;
  height: 45px;
  margin: -20px;
  margin-top: 10px;
  vertical-align: middle;
}

#cadastrar {
  color: rgb(0, 0, 0);
  height: 30px;
  height: 30px;
  margin-left: 0%;
  text-align: center;
  transition: 0.3s;
  font-family: 'Playfair Display';
  margin-top: 10px;
}
